.nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-area: nav;
    background: #fff;
    border-radius: 8px;
}

 .nav .headnav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
 }
 .nav .headnav img{
    width: 75%;
    height: 75%;
 }
 .nav .headnav .name{
    font-size: .9em;
    font-weight: bold;
    opacity: 40%;
 }
.nav .element{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
}

.nav .element .title{
    display: flex;
    gap: 10px;
    margin: 10px;
    align-items: center;
    font-weight: bold;
    opacity: 40%;
}
.nav .element .title .icontitle{
    color: red;
    font-weight: bold;
}

.nav .element .item{
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-bottom: 10px;
    font-weight: bold;
    opacity: 60%;
    cursor: pointer;
    transition: .2s;
}

.nav .element .item:hover{
    background: var(--main);
    padding: 10px 10px;
    color:  #5d6d7e ;
    font-weight: bold;
}
@media (max-width:900px){
    .nav{
        display: none;
    }
}
