.container{
    display: flex;
    flex-direction: column;
    background:#fff ;
    min-height: 25%;
    min-width: 92%;
    border-radius: 10px;
    padding: 2em;
    gap: .5em;
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info .left-info{
    display: flex;
    align-items: center;
    gap: 2em;
}
.info .left-info .alert{
    color: red;
    background: #e5e8e8;
    width: 40px;
    height: 40px;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}
.info .left-info .description{
    font-size: 1em;
    font-weight: bold;
}
.info .right-info{
    display: flex;
    align-items: center;
    justify-content: center;
}
.info .right-info button{
    background:  #82e0aa ;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    transition: .3s;
}
.info .right-info button:hover{
    background:  #27ae60 ;
    color: #fff;
}

.detalle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.detalle .left-w{
    display: flex;
    align-items: center;
    gap: 1em;
}
.detalle .left-w .icon{
    color:  #3498db;
}
.detalle .left-w .name{
    font-size: .9em;
    font-weight: bold;
    opacity: 30%;
}
.detalle .date{
    font-size: .9em;
    font-weight: bold;
    opacity: 30%; 
}